{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{% block styles %}
{% load static %}
{% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock%}

<div class="container">
  <div class="container-fluid">
    <div class="row">
     
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
          {{project.title}}
          <img id="image" class="modal-img" src="{{project.image.url}}" alt="image" width="70%" height="100%">
          <div class="details">
                    <p class="text-center"> {{project.description}}</p>
                      <a href="">{{project.url}}</a> <br> <br>
                     
                  </div>
            </div>
     
        </div>
        <div class="rev">
        <div class="col-md-4">
            <h2 class="mt-4">Review Rate</h2>
            {% if rating_status %}
            <h5>You have already done your review</h5>
            {% else %}
            {% if user.is_authenticated %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-sm btn-info btn-block" style="margin-top:4px;" value="review"
                    type="submit">Rate</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
        <div class="col-md-1"></div>
    

    <h2>Ratings</h2>
            <table class="table" border="1">
                <th>Username</th>
                <th>Design Rating</th>
                <th>Usability Rating</th>
                <th>Content Rating</th>
                <th>Overal Score</th>
                {% for reviews in reviews %}
                <tr>
                    <td class="user">{{ reviews.user.username }}</td>
                    <td class="design">{{ reviews.design }}</td>
                    <td class="usability">{{ reviews.usability }}</td>
                    <td class="content">{{ reviews.content }}</td>
                    <td class="average">{{reviews.average  }}</td>

                </tr>


                {% endfor %}
            </table>
          </div>
          </div>
        </div>
      <style>
        .container{
          background-color: black;
          color: white;
        }
        .table{
          color: white;
        }
        .row{
          margin-bottom: 50px;
        }
        .rev{
          margin-top: 50px;
        }
      </style>
    {% endblock %}